<%@ Master Language="C#" MasterPageFile="~/masterpages/InnerPages.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="MainContent" runat="server">
	<div id="page-content">
		<umbraco:Macro Alias="EventDetail" runat="server"></umbraco:Macro>
	</div>
</asp:content>

<asp:content ContentPlaceHolderId="JSIncludes" runat="server">
	
</asp:content>